{% extends 'base.html' %}
{% block title %}about{% endblock %}
{% block body %}
<div class="div">
    <text>This website is for checking list of available vacccination center.</text><br />
    <text>This website is created by <b>IIIT Kancheepuram</b> student.</text><br />

    <text>@anilsaini: <b>mdm19b012@iiitdm.ac.in</b></text>
</div>
<style>
    body{
        background-color: lightgrey;
    }
    .div{
        /* background-color: aqua; */
        border-color: aqua;
        border-width: 5px;
        margin: 10px;
        border-style: inset;
    }
</style>
{% endblock %}