{% extends 'base.html' %}
{% block title %}CoWin{% endblock %}
{% block body %}
<form action="#" method="POST">
    {% csrf_token %}
    <input type="number" name="pincode" id="pincode" placeholder="pincode">

    <input type="submit" value="Submit" >
</form>
<h3> Details: </h3>

<!-- <script>
function myFunction(e) {
  console.log(e)
  // alert("You are Successfully Called the JavaScript function");  
  // document.getElementById("pincode").value = e;
}
</script> -->

{% if it %}

<table class="table table-striped">
<thead>
  <tr>
    <th scope="col">State</th>
    <th scope="col">District</th>
    <th scope="col">Addresss</th>
    <th scope="col">Hospital</th>
    <th scope="col">Dose#1</th>
    <th scope="col">Dose#2</th>
    <th scope="col">Vaccine</th>
    <th scope="col">Slots</th>
    <th scope="col">(Paid/Free)</th>
    <th scope="col">Fees</th>
  </tr>
</thead>

<tbody>
{% for i in it %}    
<!-- <table class="table table-striped"> -->
      <tr>
        <td>{{i.state_name}}</td>
        <td>{{i.district_name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.name}}</td>
        <td>{{i.available_capacity_dose1}}</td>
        <td>{{i.available_capacity_dose2}}</td>
        <td>{{i.vaccine}}</td>
        <td>{{i.slots}}</td>
        <td>{{i.fee_type}}</td>
        <td>{{i.fee}}</td>
      </tr>
      <!-- </table> -->
      {% endfor %}
    </tbody>
</table>
{% else %}
<!-- <table class="table table-striped"> -->
    <thead>
<tr>
    <th scope="col">S.No.</th>
    <th scope="col">State</th>
    <th scope="col">District</th>
    <th scope="col">Addresss</th>
    <th scope="col">Hospital</th>
    <th scope="col">Dose#1</th>
    <th scope="col">Dose#2</th>
    <th scope="col">Vaccine</th>
    <th scope="col">Slots</th>
    <th scope="col">(Paid/Free)</th>
    <th scope="col">Fees</th>
  </tr>
</thead>
<!-- </table> -->
<text>Sorry!!</text>
{% endif %}

{% endblock %}